!Software Version V200R010C00SPC600
#
 sysname HQ-HW-AR1
#
 header login information "Authorised access only. All activity is logged."
#
 undo http server enable
 http secure-server enable
#
 undo ftp server enable
 undo telnet server enable
 stelnet server enable
#
 info-center loghost 10.10.0.9
 info-center timestamp log date
#
hwtacacs-server template tac1
 hwtacacs-server authentication 10.10.0.7 49
 hwtacacs-server shared-key cipher %^%#PLACEHOLDER2%^%#
#
aaa
 authentication-scheme tac
  authentication-mode hwtacacs local
 authorization-scheme default
 accounting-scheme default
 domain default
 domain default_admin
  authentication-scheme tac
  hwtacacs-server tac1
 local-user admin password irreversible-cipher $1a$PLACEHOLDER3$
 local-user admin privilege level 15
 local-user admin service-type ssh
#
interface GigabitEthernet0/0/0
 description WAN uplink to ISP
 ip address 203.0.113.6 255.255.255.252
#
interface GigabitEthernet0/0/1
 description LAN users
 ip address 10.10.1.1 255.255.255.0
#
acl number 2001
 rule 5 permit source 10.10.0.0 0.0.0.255
 rule 10 deny
#
snmp-agent
snmp-agent sys-info version v3
#
ntp-service authentication enable
ntp-service authentication-keyid 1 authentication-mode hmac-sha256 cipher %^%#PLACEHOLDER4%^%#
ntp-service reliable authentication-keyid 1
ntp-service unicast-server 10.10.0.5 authentication-keyid 1
#
user-interface con 0
 authentication-mode aaa
 idle-timeout 10 0
user-interface vty 0 4
 acl 2001 inbound
 authentication-mode aaa
 protocol inbound ssh
 idle-timeout 10 0
#
return
