!Software Version V200R010C00SPC600
#
 sysname BR-HW-AR1
#
 http server enable
 http secure-server enable
#
 ftp server enable
 telnet server enable
 stelnet server enable
 ssh server compatible-ssh1x enable
#
 info-center timestamp log date
#
aaa
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default
 domain default_admin
 local-user admin password irreversible-cipher $1a$PLACEHOLDER0$
 local-user admin privilege level 15
 local-user admin service-type telnet terminal ssh http
#
interface GigabitEthernet0/0/0
 description WAN uplink to ISP
 ip address 203.0.113.2 255.255.255.252
 arp-proxy enable
#
interface GigabitEthernet0/0/1
 description LAN users
 ip address 10.20.1.1 255.255.255.0
#
acl number 2001
 rule 5 permit source 10.20.0.0 0.0.255.255
#
snmp-agent
snmp-agent community write cipher %^%#PLACEHOLDER1%^%#
snmp-agent sys-info version v2c v3
#
ntp-service unicast-server 10.20.0.5
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound all
 idle-timeout 0 0
#
return
